language: c
install: wget https://raw.githubusercontent.com/ocaml/ocaml-ci-scripts/master/.travis-docker.sh
script: bash -ex .travis-docker.sh
sudo: false
services:
  - docker
env:
  global:
  - PINS="mirage-console:. mirage-console-xen:. mirage-console-unix:. mirage-console-xen-proto:. mirage-console-xen-backend:."
  - DISTRO=alpine
  matrix:
  - OCAML_VERSION=4.06 PACKAGE="mirage-console"
  - OCAML_VERSION=4.07 PACKAGE="mirage-console-xen-proto"
  - OCAML_VERSION=4.07 PACKAGE="mirage-console-xen-backend"
  - OCAML_VERSION=4.08 PACKAGE="mirage-console-xen"
  - OCAML_VERSION=4.09 PACKAGE="mirage-console-unix"
